doctype html
html(ng-app="soundspy", lang="en")
    head
        title Soundspy
        link(rel="stylesheet", href="css/popup.css")

        script(src="https://use.typekit.net/nuh3nan.js")            
        script(src="js/typekit.js")

        script(src="js/jquery.js")
        script(src="js/moment.js")
        script(src="js/lodash.js")
        script(src="js/firebase.js")
        script(src="js/angular.js")
        script(src="js/angularfire.js")
        script(src="js/angular-moment.js")
        script(src="js/angular-ui-router.js")
        
        script(src="js/config.js")
        script(src="js/popup.js")

    body(ui-view="")