// VARIABLES
// -------------------------------------

$border-color: #ddd;
$border: 1px solid $border-color;
$radius: 3px;
$radius-lg: 3px;
$text: #222;
$link: #3344dd;
$link-hover: #bb1122;
$link-visited: #884488;

$popup-width: 360px;
$popup-height: 240px;

$create: #27ae60;
$danger: #c0392b;
$fb: #3B5998;

// MIXINS
// -------------------------------------

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin small-caps {
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}


// STYLES 
// -------------------------------------

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    color: $text;
    font-size: 100%;
    font-family: "neuzeit-grotesk", "helvetica neue", sans-serif;
    line-height: 1.4;
    margin: 0;
}

.faux-link,
a {
    color: $link;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
        color: $link-hover;
    }
}

.dot {
    margin: 0 .25rem;
}

.button {
    cursor: pointer;
    border: $border;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0 2px #ccc;
    font-family: inherit;
    padding: .333em .75em;
    font-size: .875rem;
    transition: all .125s ease;

    &:focus {
        outline: none;
    }
    
    &.is--pressed,
    &:active {
        transition: none;
        margin: 2px 0 -2px;
        box-shadow: 0 0 #ccc;
    }

    &--create {
        border-color: $create;
        box-shadow: 0 2px $create;
        color: $create;

        &:active {
            margin: 2px 0 -2px;
            box-shadow: 0 0 $create;
        }
    }  

    &--danger {
        border-color: $danger;
        box-shadow: 0 2px $danger;
        color: $danger;

        &:active {

            margin: 2px 0 -2px;
            box-shadow: 0 0 $danger;
        }
    }   
    
    &--facebook {
        border-color: $fb;
        box-shadow: 0 2px $fb;
        color: $fb;
        font-size: 1.5rem;

        &:active {

            margin: 2px 0 -2px;
            box-shadow: 0 0 $fb;
        }
    }
}
