.feed
    a.item(ng-repeat="user in feed track by $index", ng-href="{{ user.playing.url }}", target="_blank")
        .item__picture
            .flipper
                .front
                    img(src="{{ user.picture ? user.picture : 'http://placehold.it/60x60' }}", alt="")
                .back
                    img(src="{{ user.playing.artwork ? user.playing.artwork : 'http://placehold.it/60x60' }}", alt="")
        .item__content
            p.item__name {{ user.name }}
                span.dot &middot;
                span.item__time(am-time-ago="user.playing.started_at")
            p.item__title {{ user.playing.title }}