header.masthead(role="banner")
    .container
        a.masthead__logo(href="/") Soundspy
        nav.masthead__nav
            a(href= extensionUrl) Get Extension
            a(href="/login.html", ng-hide="user") Log in
            a(href="/profile.html", ng-show="user") Profile