- var extensionUrl = '//chrome.google.com/webstore/detail/ocomdnakoabmfgnkocffbhbpgiiffdfa'
doctype html
html(lang="en", ng-app="soundspy")
    head
        block title
            title Soundspy
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        script(src="https://use.typekit.net/nuh3nan.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
        link(rel="stylesheet", href="css/site.css")
        
    body
        block body
        
        script(src="js/jquery.js")
        script(src="js/moment.js")
        script(src="js/lodash.js")
        script(src="js/firebase.js")
        script(src="js/angular.js")
        script(src="js/angularfire.js")
        script(src="js/angular-moment.js")
        script(src="js/angular-ui-router.js")
        script(src="js/site.js")