- var extensionUrl = 'https://chrome.google.com/webstore/detail/soundspy/ocomdnakoabmfgnkocffbhbpgiiffdfa'
doctype html
html(lang="en", ng-app="soundspy")
    head
        block title
            title Soundspy
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        script(src="https://use.typekit.net/nuh3nan.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300")
        link(rel="stylesheet", href="css/site.css")
        
    body
        block body

        script(src="js/vendor.js")
        script(src="js/site.js")