ul
    li
        label.checkbox
            input(id="mixcloud", type="checkbox")
            | SoundCloud
    li
        label.checkbox
            input(id="mixcloud", type="checkbox" disabled)
            | MixCloud
    li
        label.checkbox
            input(id="mixcloud", type="checkbox" disabled)
            | BandCamp
    li
        label.checkbox
            input(id="mixcloud", type="checkbox" disabled)
            | YouTube
    li
        label.checkbox
            input(id="mixcloud", type="checkbox" disabled)
            | Spotify