.container.feed(ng-if="feed.length > 0")
    a.item(ng-repeat="user in feed track by $index", ng-href="{{ user.playing.url }}", target="_blank")
        .item__picture
            .flipper
                .front
                    img(ng-src="{{ user.picture ? user.picture : 'img/placeholder.png' }}", alt="")
                .back
                    img(ng-src="{{ user.playing.artwork ? user.playing.artwork : 'img/placeholder.png' }}", alt="")
        .item__content
            p.item__name {{ user.name }}
                span.dot &middot;
                span.item__time(am-time-ago="user.playing.started_at")
            p.item__title {{ user.playing.title }}
.center(ng-if="feed.length == 0")
    .null
        p
            a(ui-sref="find-friends") Find friends to follow

nav.footer
    a.active(ui-sref="feed") Feed
    a(ui-sref="profile") Profile