div.message(ng-show="message == 'welcome'")
    h1 Welcome to Soundspy 
    p Click to get started

div.message(ng-show="message == 'login-successful'")
    h1 Login successful
    p Click to keep spying

div.message(ng-show="message == 'welcome-back'")
    h1 Welcome back
    p Let's go!

div.message(ng-show="message == 'signup-successful'")
    h1 Signup successful
    p Click to start spying