doctype html
html(ng-app="sound-spy")
    head
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="css/app.css")
        script(src="js/jquery.js")
        script(src="js/lodash.js")
        script(src="js/firebase.js")
        script(src="js/moment.js")
        script(src="js/angular.js")
        script(src="js/angular-ui-router.js")
        script(src="js/angularfire.js")
        script(src="js/app.js")
    body
        nav.masthead(ng-controller="MastheadCtrl")
            .container
                a(ui-sref="feed").masthead__logo Sound Spy
                .masthead__nav
                    a(ui-sref="invite").masthead__link 
                        i(aria-hidden="true").ion-person-add
                    //- a(ui-sref="following").masthead__link Following
                    //- a(ui-sref="followers").masthead__link Followers
                    a(ui-sref="profile.following", aria-label="options").masthead__link    
                        i(aria-hidden="true").ion-gear-b
        main.page
            .container(ng-if="authData", ui-view="", autoscroll="")
