doctype html
html
    head
        link(rel="stylesheet", href="css/site.css")
        script(src="js/jquery.js")
        script(src="js/lodash.js")
        script(src="js/site.js")
    body
        h1 Sound Spy!
        a(href="login.html") Login
        
