extends extends/site

block title
    title Login | Soundspy

block body
    include includes/masthead
    main.container.auth(ng-controller="AuthCtrl")
        div
            button.button.button--facebook(ng-click="login()") Log in with Facebook
            footer
                p No account? 
                    a(href="/signup.html") Sign up
    #transfer
        #uid
        #token