extends extends/site

block title
    title Log out | Soundspy

block body
    include includes/masthead
    main.container(ng-controller="AuthCtrl")
        p You are now logged out!
        p
            a(href="login.html") Login