doctype html
html(ng-app="sound-spy", lang="en")
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300")
        link(rel="stylesheet", href="css/popup.css")
        script(src="https://use.typekit.net/nuh3nan.js")            
        script(src="js/vendor.js")
        script(src="js/popup.js")
    body(tabindex="1")
        .spinner(ng-show="view == 'loading'")
            | Loading...
        main(ng-show="view == 'feed'")
            include includes/feed
        footer.footer
            a(ng-href="{{ siteUrl }}/profile.html") Profile
            a(ng-href="{{ siteUrl }}/find-friends.html") Find Friends