extends extends/site

block title
    title Profile | Soundspy

block body
    include includes/masthead
    main.container(ng-controller="ProfileCtrl")
        .row
            .col.col-3
                .profile
                    .profile__picture
                        img(src="{{ user.picture }}", alt="Your profile picture")
                    .profile__info
                        h1.profile__name {{ user.name }}
                        p.profile__email 
                            span {{ user.email }} &ndash; 
                                a(href="logout.html", ng-click="logout($event)") Log out
                
                .settings
                    fieldset
                        legend Sources:
                        ul
                            li
                                label.checkbox
                                    input(id="mixcloud", type="checkbox")
                                    | SoundCloud
                            li
                                label.checkbox
                                    input(id="mixcloud", type="checkbox" disabled)
                                    | MixCloud
                            li
                                label.checkbox
                                    input(id="mixcloud", type="checkbox" disabled)
                                    | BandCamp
                            li
                                label.checkbox
                                    input(id="mixcloud", type="checkbox" disabled)
                                    | YouTube
                            li
                                label.checkbox
                                    input(id="mixcloud", type="checkbox" disabled)
                                    | Spotify
                            
            .col.col-3
                .tabs
                    .tab__group
                        a.tab__item(ui-sref="following", ng-class="{'is--active': activeTab == 'following'}") Following
                            span.badge {{ following.length }}
                        a.tab__item(ui-sref="followers", ng-class="{'is--active': activeTab == 'followers'}") Followers
                            span.badge {{ followers.length }}
                    .tab__panel(ui-view="", ng-class="{'is--sharp': activeTab == 'following'}")