doctype html
html(lang="en")
    head
        title Authentication | Soundspy
        script(src="https://use.typekit.net/nuh3nan.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
        link(rel="stylesheet", href="css/site.css")

    body
        script.
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '499211296937764',
                    xfbml      : true,
                    version    : 'v2.0'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        p.text Authenticating
        .loader
        #transfer
        
        script(src="js/jquery.js")
        script(src="js/moment.js")
        script(src="js/lodash.js")
        script(src="js/firebase.js")
        script(src="js/auth.js")